img {
    width: 45%;
    display: block;
    margin: 0 auto;
}

.printing-title {
    border-bottom: 4px solid #1488DB;
}

.sm-hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #1488DB;
    opacity: 1;
}

input {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px;
}

input::placeholder {
    font-size: 16px;
}

.wrap {
    padding: 8px;
    gap: 12px;
    background-color: #e6e6e6;
}

.Printing {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    img {
        width: 45%;
    }

    .Printing {
        width: 90%;
        margin: 0 auto;
    }

    input {
        font-size: 18px;
        padding: 12px 16px;
    }

    input::placeholder {
        font-size: 18px;
    }

    .wrap {
        padding: 12px 32px;
        gap: 48px;
    }
}

@media (min-width: 1024px) {
    img {
        width: 45%;
    }

    .Printing {
        width: 80%;
        margin: 0 auto;
    }

    input {
        font-size: 22px;
        padding: 12px 16px;
    }

    input::placeholder {
        font-size: 22px;
    }

    .wrap {
        padding: 12px 32px;
    }
}