@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#ECF0F5] font-body;
  }
}

.SideBar_Option {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.466);
  background-color: #2679a8;
}

.SideBarHide {
  transform: translateX(-184px);
}

@media screen and (max-width: 400px) {
  .SideBarHide {
    transform: translateX(-250px);
  }
  .Main_Container {
    margin-left: 0px;
  }
}
