@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f8f9fa] font-body;
  }
}

.SideBar_Option {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.466);
  background-color: #2679a8;
}

.SideBarHide {
  transform: translateX(-184px);
}

@media screen and (max-width: 400px) {
  .SideBarHide {
    transform: translateX(-250px);
  }
  .Main_Container {
    margin-left: 0px;
  }
}

.zoom-enter .content {
  opacity: 0;
  transform: scale(0.5);
}
.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit .content {
  opacity: 1;
}
.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.8s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
