.Config input {
    width: 124px;
    height: 40px;
    background-color: #E6E6E6;
    flex-shrink: 0;
    // padding: 15px;
    margin: 10px 0px;
    border-radius: 0%;
    border: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.Config button {
    width: 83px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #066DCC;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.formInput {
    display: flex;
    flex-direction: column;
    // width: 0.5vw;
}
.formInput span.Err {
    font-size: 12;
    color: red;
    padding: 3px;
    display: none;
}
.formInput :invalid ~ span.Err {
    display: flex;
}
.formInput input:invalid[focused="true"] ~ span.Err {
    display: block;
}
.formInput input:invalid[focused="true"] {
    border-color: red;
}
.formInput label {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0px;
}