.them_mayin {
    border-radius: 0.3125rem;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.25);
    // margin-left: auto; margin-right: 0;
}
.manageSPSO-outer-flex {
    gap: 24px;
}
.manageSPSO-inner-flex {
    gap: 24px;
}
@media (min-width: 768px) {
    .manageSPSO-outer-flex {
        gap: 13px;
    }
    .manageSPSO-inner-flex {
        gap: 10px;
    }
}
@media (min-width: 1024px) {
    .manageSPSO-outer-flex {
        gap: 53px;
    }
    .manageSPSO-inner-flex {
        gap: 42px;
    }
}